body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenido {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}
img {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
footer img {
    background-color: #333;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}